@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @layer components {
  .Input{
    @apply outline-nonr border-0.5 border-gray-400/25
  }
} */

@utility container{
  @apply mx-auto px-4
}

.swiper-pagination-bullet{
  background-color: rgba(255, 255, 255 , .5) !important;
  opacity: 1 !important;
  height: 12px !important;
  width: 12px !important;
  transition: all 500ms;
}

.swiper-pagination-bullet:hover{
  scale: 1.5;
  background-color: rgba(255, 255, 255, 0.753) !important;

}

.swiper-pagination-bullet-active{
  background-color: white !important ; 
  width: 32px !important;
  border-radius: 6px !important;
}